extends layout

block content
  h1.heading= title
  p Welcome to #[strong: em Epic Books], a basic website made for the #[a(href='https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs') Mozilla Developer Network Node/Express tutorial].

  h1.heading Statistics

  if error
    p An error occurred while fetching dynamic content.
  else
    p The library has the following record counts:

    ul.unstyled-list
      li
        a(href='/books').statistic #[span.count !{data.bookCount}] books
      li
        a(href='/copies').statistic #[span.count !{data.bookInstanceCount}] copies
      li
        a(href='/copies').statistic #[span.count !{data.availableBookInstanceCount}] available copies
      li
        a(href='/authors').statistic #[span.count !{data.authorCount}] authors
      li
        a(href='/genres').statistic #[span.count !{data.genreCount}] genres
